[submodule "themes/devise"]
	path = themes/devise
	url = https://github.com/austingebauer/devise.git
[submodule "public"]
	path = public
	url = https://github.com/jochalek/jochalek.github.io.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
